<h2>{{title}}</h2>
<div class="question-edit">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group" [ngClass]="{ 'has-error has-feedback' : hasError('Text') }">
      <label for="text">Question Text:</label>
      <br />
      <textarea id="text" formControlName="Text" required placeholder="Enter a suitable text" class="form-control"></textarea>
      <span *ngIf="hasError('Text')" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
      <div *ngIf="hasError('Text')" class="help-block">
        This is a required field: please insert a valid text.
      </div>
    </div>
    <div>
      <button type="submit" *ngIf="editMode" [disabled]="form.invalid" class="btn btn-sm btn-success">Apply Changes</button>
      <button type="submit" *ngIf="!editMode" [disabled]="form.invalid" class="btn btn-sm btn-success">Create the Question</button>
      <button type="submit" (click)="onBack()" class="btn btn-sm btn-default">Cancel</button>
    </div>
  </form>
  <div>
    <answer-list [question]="question"></answer-list>
  </div>
  <div class="panel panel-info" style="margin-top: 20px;">
    <div class="panel-heading">Form debug info</div>
    <div class="panel-body">
      <p><strong>Form value:</strong></p>
      <div class="help-block">
        {{ form.value | json }}
      </div>
      <p><strong>Form status:</strong></p>
      <div class="help-block">
        {{ form.status | json }}
      </div>
      <p><strong>Form acitvity log:</strong></p>
      <div class="help-block">
        <span *ngIf="activityLog" [innerHTML]="activityLog"></span>
      </div>
    </div>
  </div>
</div>
